body {
    font-family: Arial;
    margin: 0;
    padding: 4rem;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.2em;
    font-weight: 600;
}

textarea {
    border: 1px solid #D1D1D1;
    border-radius: .3em;
    padding: .5rem;
    margin-bottom: .8rem;
    font-family: Arial;
    font-size: 1rem;
    
}

textarea:focus {
    outline: none !important;
    border-color: #33C3F0;
}

button {
    background-color:#33C3F0; 
    color: white;
    border: none;
    border-radius: .3em;
    padding: .8rem;
    font-size: .7em;
    font-weight: 600;
}

button:hover {
    background-color: #1EAEDB;
    cursor: pointer;
}

h2 {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 500;
    margin-top:0;
}

.section-tweets {
 margin-left: 1rem;
}

li {
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.delete-tweet,
.delete-tweet:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.error {
    background-color:#DE3E44;
    border-radius: .3em;
    text-align: center;
    padding: .8rem;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    color: white;
}


@media (min-width: 550px) {

    .row {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 60rem;
        margin: auto;
    }


}
